body {
  background: #000000;
text-align: center;
  margin: auto;
  padding: auto;
}

img {
  border: 0;
}

h1 {
background: none;
margin: auto;
padding: 10px;
font-family: 'Bebas Neue', cursive;
font-size: 40px;
color: #E3B63B;
}

h2 {
font-family: 'Roboto Slab', serif;
font-size: 20px;
background: none;
margin: 2px;
padding: 2px;
color: white;
}

.topnav{
  background-color: black;
  overflow: hidden;
}

.topnav a{
  float: left;
  display: block;
  color: #E3B63B;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #E3B63B;
  color: black;
}

.topnav a.active {
  background-color: white;
  color: black;
}

.topnav .icon {
  display: none;
}

li {
  display: inline;
  margin: 10px;
  padding: 10px;
}

a{
  text-decoration: none;
  font-style: none;
  font-weight: bold;
  text-transform: uppercase;
  font-family:'Bebas Neue', cursive;
  font-size: 1.5rem;
  color: white
}


img{
  border: 0;
}

p{
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  max-width: 700px;
  width: 90%;
  text-align: left;
  display: grid;
  color: white;
}

}
