body {
  background: #000000;
text-align: center;
  margin: auto;
  padding: auto;
}

img {
  border: 0;
}

h1 {
background: none;
margin: auto;
padding: 10px;
font-family: 'Bebas Neue', cursive;
font-size: 40px;
color: #E3B63B;
}

h2 {
font-family: 'Roboto Slab', serif;
font-size: 20px;
background: none;
margin: 2px;
padding: 2px;
color: white;
}

nav {
  background: #E3B63B;
  color:black;
  width: 100%;
  display: inline-block;
  padding: 20px 0;
  margin-bottom: 20px;
  border-bottom: none;
  font-family: 'Bebas Neue', sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

a:visited {

}

nav a:hover, p a:hover {
  background-color: black;
  color: #E3B63B;
}

#menu_trigger {
  display: none;
}

@media (max-width: 850px) {

  li {
    width: 50%;
  }

}

@media (max-width: 600px) {

  ul {
    list-style-type: none;
    padding: 0;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

}

  li {
    width: 100%;
  }

  #menu_trigger {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  #menu_nav {
    display: none;
  }


li {
  display: inline;
  margin: 10px;
  padding: 10px;
}

a{
  text-decoration: none;
  font-style: none;
  font-weight: bold;
  text-transform: uppercase;
  font-family:'Bebas Neue', cursive;
  font-size: 1.5rem;
  color: white;
}


img{
  border: 0;
}

p{
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  max-width: 700px;
  width: 90%;
  text-align: left;
  display: grid;
  color: white;
}

}
